<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_e8ce0c30c9bc4cd9b7f1b32de1f31eac {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_e8ce0c30c9bc4cd9b7f1b32de1f31eac" ></div>
        
</body>
<script>    
    
            var map_e8ce0c30c9bc4cd9b7f1b32de1f31eac = L.map(
                "map_e8ce0c30c9bc4cd9b7f1b32de1f31eac",
                {
                    center: [-6.537134700000001, 111.04887649999998],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_692c667ff58f4d438ce5f412dffe388a = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var marker_277588767d4a464e975755c0c870911c = L.marker(
                [-6.533924, 111.045262],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_44cd507134a7402bb81ad0b07417f1d3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_277588767d4a464e975755c0c870911c.setIcon(icon_44cd507134a7402bb81ad0b07417f1d3);
        
    
        var popup_70ace451285a4974b1a76a54b900d5c1 = L.popup({"maxWidth": "100%"});

        
            var html_33b2b7d1df294010a6d73a78b0eba8b8 = $(`<div id="html_33b2b7d1df294010a6d73a78b0eba8b8" style="width: 100.0%; height: 100.0%;">Lawiyah</div>`)[0];
            popup_70ace451285a4974b1a76a54b900d5c1.setContent(html_33b2b7d1df294010a6d73a78b0eba8b8);
        

        marker_277588767d4a464e975755c0c870911c.bindPopup(popup_70ace451285a4974b1a76a54b900d5c1)
        ;

        
    
    
            marker_277588767d4a464e975755c0c870911c.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3453324b64b8418198758b10056481e7 = L.marker(
                [-6.536154, 111.045271],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_e9c0d098d23d411b86604d2e51fec1d1 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_3453324b64b8418198758b10056481e7.setIcon(icon_e9c0d098d23d411b86604d2e51fec1d1);
        
    
        var popup_aa87d1fcca3e43a49e4f1783a51d0948 = L.popup({"maxWidth": "100%"});

        
            var html_c896bb5d687c42519620cff109995507 = $(`<div id="html_c896bb5d687c42519620cff109995507" style="width: 100.0%; height: 100.0%;">Musholla</div>`)[0];
            popup_aa87d1fcca3e43a49e4f1783a51d0948.setContent(html_c896bb5d687c42519620cff109995507);
        

        marker_3453324b64b8418198758b10056481e7.bindPopup(popup_aa87d1fcca3e43a49e4f1783a51d0948)
        ;

        
    
    
            marker_3453324b64b8418198758b10056481e7.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d189b3cd034b485c9f4159eea7f4b8f8 = L.marker(
                [-6.53763, 111.045285],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_2335255bbda8400c84e2fb8fe34a58ed = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d189b3cd034b485c9f4159eea7f4b8f8.setIcon(icon_2335255bbda8400c84e2fb8fe34a58ed);
        
    
        var popup_0c873aa17fda4b51b44517ea88806f01 = L.popup({"maxWidth": "100%"});

        
            var html_63c4a5ef4c674f209358df03973cf3f8 = $(`<div id="html_63c4a5ef4c674f209358df03973cf3f8" style="width: 100.0%; height: 100.0%;">Pertigaan Surabaya</div>`)[0];
            popup_0c873aa17fda4b51b44517ea88806f01.setContent(html_63c4a5ef4c674f209358df03973cf3f8);
        

        marker_d189b3cd034b485c9f4159eea7f4b8f8.bindPopup(popup_0c873aa17fda4b51b44517ea88806f01)
        ;

        
    
    
            marker_d189b3cd034b485c9f4159eea7f4b8f8.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_bff2e4e02116451e81bb7d8570403cca = L.marker(
                [-6.537079, 111.047753],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_c216298cc4fe4ff1a6ca17e396715856 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_bff2e4e02116451e81bb7d8570403cca.setIcon(icon_c216298cc4fe4ff1a6ca17e396715856);
        
    
        var popup_fc913b81fc3d49ffa3abed82cdae3e34 = L.popup({"maxWidth": "100%"});

        
            var html_16e1e3de3da94d98b8023fd678240d4f = $(`<div id="html_16e1e3de3da94d98b8023fd678240d4f" style="width: 100.0%; height: 100.0%;">KaumanA</div>`)[0];
            popup_fc913b81fc3d49ffa3abed82cdae3e34.setContent(html_16e1e3de3da94d98b8023fd678240d4f);
        

        marker_bff2e4e02116451e81bb7d8570403cca.bindPopup(popup_fc913b81fc3d49ffa3abed82cdae3e34)
        ;

        
    
    
            marker_bff2e4e02116451e81bb7d8570403cca.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f524e75d4cca41dab0722718d9bbab05 = L.marker(
                [-6.537669, 111.049392],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_e89d465bcafc4adc834d989f6d0cb3f9 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_f524e75d4cca41dab0722718d9bbab05.setIcon(icon_e89d465bcafc4adc834d989f6d0cb3f9);
        
    
        var popup_a3f6fdc4c3cf425786a6e643005dc26a = L.popup({"maxWidth": "100%"});

        
            var html_a7b3d9eec5be4e24a52826fa56553483 = $(`<div id="html_a7b3d9eec5be4e24a52826fa56553483" style="width: 100.0%; height: 100.0%;">KaumanB</div>`)[0];
            popup_a3f6fdc4c3cf425786a6e643005dc26a.setContent(html_a7b3d9eec5be4e24a52826fa56553483);
        

        marker_f524e75d4cca41dab0722718d9bbab05.bindPopup(popup_a3f6fdc4c3cf425786a6e643005dc26a)
        ;

        
    
    
            marker_f524e75d4cca41dab0722718d9bbab05.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d6dfa1219fc3451188f167773ff384ef = L.marker(
                [-6.538963, 111.047378],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_c0bd65dff84640089174b2869593853e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_d6dfa1219fc3451188f167773ff384ef.setIcon(icon_c0bd65dff84640089174b2869593853e);
        
    
        var popup_c0ed3144fb2c4fba96c9ae559c967762 = L.popup({"maxWidth": "100%"});

        
            var html_c1424b8b8b70484baffe49cc1e4d51d1 = $(`<div id="html_c1424b8b8b70484baffe49cc1e4d51d1" style="width: 100.0%; height: 100.0%;">BNI</div>`)[0];
            popup_c0ed3144fb2c4fba96c9ae559c967762.setContent(html_c1424b8b8b70484baffe49cc1e4d51d1);
        

        marker_d6dfa1219fc3451188f167773ff384ef.bindPopup(popup_c0ed3144fb2c4fba96c9ae559c967762)
        ;

        
    
    
            marker_d6dfa1219fc3451188f167773ff384ef.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_02c2620a5d6749d78712c63aefe3d26c = L.marker(
                [-6.540861, 111.052519],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_a26ccf4641524e9eb53cc6dece2ef223 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_02c2620a5d6749d78712c63aefe3d26c.setIcon(icon_a26ccf4641524e9eb53cc6dece2ef223);
        
    
        var popup_3c7934fa82bd4b27ad2c4c3f4ff7de0f = L.popup({"maxWidth": "100%"});

        
            var html_308b5d8176fc49ff8e8a9acebdad4982 = $(`<div id="html_308b5d8176fc49ff8e8a9acebdad4982" style="width: 100.0%; height: 100.0%;">Alun-alun</div>`)[0];
            popup_3c7934fa82bd4b27ad2c4c3f4ff7de0f.setContent(html_308b5d8176fc49ff8e8a9acebdad4982);
        

        marker_02c2620a5d6749d78712c63aefe3d26c.bindPopup(popup_3c7934fa82bd4b27ad2c4c3f4ff7de0f)
        ;

        
    
    
            marker_02c2620a5d6749d78712c63aefe3d26c.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ab126ae473914fb8b6a5afa2a5619060 = L.marker(
                [-6.537612, 111.053096],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_d0c29add0c564d85ad41317447cb3a81 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_ab126ae473914fb8b6a5afa2a5619060.setIcon(icon_d0c29add0c564d85ad41317447cb3a81);
        
    
        var popup_ca2609a20a59457582724111d311568a = L.popup({"maxWidth": "100%"});

        
            var html_5efa683c5614407498fe5d46ed5cd69c = $(`<div id="html_5efa683c5614407498fe5d46ed5cd69c" style="width: 100.0%; height: 100.0%;">Pasar</div>`)[0];
            popup_ca2609a20a59457582724111d311568a.setContent(html_5efa683c5614407498fe5d46ed5cd69c);
        

        marker_ab126ae473914fb8b6a5afa2a5619060.bindPopup(popup_ca2609a20a59457582724111d311568a)
        ;

        
    
    
            marker_ab126ae473914fb8b6a5afa2a5619060.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_38275e5a64f14198b32a9a1430e143c6 = L.marker(
                [-6.536056, 111.052698],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_fdfc7d434524408ba89c573aa03e452e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_38275e5a64f14198b32a9a1430e143c6.setIcon(icon_fdfc7d434524408ba89c573aa03e452e);
        
    
        var popup_d5695929120c48f98ce9c70e56ac2260 = L.popup({"maxWidth": "100%"});

        
            var html_deb131a01f3e4a83a9e245f8a0585cec = $(`<div id="html_deb131a01f3e4a83a9e245f8a0585cec" style="width: 100.0%; height: 100.0%;">Balai Desa</div>`)[0];
            popup_d5695929120c48f98ce9c70e56ac2260.setContent(html_deb131a01f3e4a83a9e245f8a0585cec);
        

        marker_38275e5a64f14198b32a9a1430e143c6.bindPopup(popup_d5695929120c48f98ce9c70e56ac2260)
        ;

        
    
    
            marker_38275e5a64f14198b32a9a1430e143c6.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5b146240e65e49f5a876b6aeae54cc23 = L.marker(
                [-6.535399, 111.050111],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_5bcaa0a849044644859c7f61ff1f0c38 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_5b146240e65e49f5a876b6aeae54cc23.setIcon(icon_5bcaa0a849044644859c7f61ff1f0c38);
        
    
        var popup_9177d29aa92247c0ada7c7e82d6b1bb4 = L.popup({"maxWidth": "100%"});

        
            var html_761ff902dea24977ad5789492668fd42 = $(`<div id="html_761ff902dea24977ad5789492668fd42" style="width: 100.0%; height: 100.0%;">MTS</div>`)[0];
            popup_9177d29aa92247c0ada7c7e82d6b1bb4.setContent(html_761ff902dea24977ad5789492668fd42);
        

        marker_5b146240e65e49f5a876b6aeae54cc23.bindPopup(popup_9177d29aa92247c0ada7c7e82d6b1bb4)
        ;

        
    
    
            marker_5b146240e65e49f5a876b6aeae54cc23.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_0bacf869b7c442b9b8b65efd0b4989cd = L.marker(
                [-6.53763, 111.045285],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_522e69c9b14440b7ac7d5efe36888353 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_0bacf869b7c442b9b8b65efd0b4989cd.setIcon(icon_522e69c9b14440b7ac7d5efe36888353);
        
    
        var popup_3e2ad7cbfdaa456cb4abbab88da74ad3 = L.popup({"maxWidth": "100%"});

        
            var html_c037368d58684090b87119726d7b9004 = $(`<div id="html_c037368d58684090b87119726d7b9004" style="width: 100.0%; height: 100.0%;">Pertigaan Surabaya</div>`)[0];
            popup_3e2ad7cbfdaa456cb4abbab88da74ad3.setContent(html_c037368d58684090b87119726d7b9004);
        

        marker_0bacf869b7c442b9b8b65efd0b4989cd.bindPopup(popup_3e2ad7cbfdaa456cb4abbab88da74ad3)
        ;

        
    
    
            marker_0bacf869b7c442b9b8b65efd0b4989cd.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a23051a9f3524f95ac69f57a4ddd5142 = L.marker(
                [-6.536154, 111.045271],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_100144d403674087ac6d571b253a4e4f = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_a23051a9f3524f95ac69f57a4ddd5142.setIcon(icon_100144d403674087ac6d571b253a4e4f);
        
    
        var popup_bc5dee926a0346d5af7c6033659e9f8d = L.popup({"maxWidth": "100%"});

        
            var html_af20110a205a4a96a31702cc7527236f = $(`<div id="html_af20110a205a4a96a31702cc7527236f" style="width: 100.0%; height: 100.0%;">Musholla</div>`)[0];
            popup_bc5dee926a0346d5af7c6033659e9f8d.setContent(html_af20110a205a4a96a31702cc7527236f);
        

        marker_a23051a9f3524f95ac69f57a4ddd5142.bindPopup(popup_bc5dee926a0346d5af7c6033659e9f8d)
        ;

        
    
    
            marker_a23051a9f3524f95ac69f57a4ddd5142.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d3dde478befe4436a214be134f9a4bba = L.marker(
                [-6.537079, 111.047753],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_52e81faddf85490fb4f87dfe01b4fa30 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d3dde478befe4436a214be134f9a4bba.setIcon(icon_52e81faddf85490fb4f87dfe01b4fa30);
        
    
        var popup_11b79ae563da4b7d9c76c2ba34bd90ae = L.popup({"maxWidth": "100%"});

        
            var html_04ccb30dfda24ba9bc50ff2f0907185e = $(`<div id="html_04ccb30dfda24ba9bc50ff2f0907185e" style="width: 100.0%; height: 100.0%;">KaumanA</div>`)[0];
            popup_11b79ae563da4b7d9c76c2ba34bd90ae.setContent(html_04ccb30dfda24ba9bc50ff2f0907185e);
        

        marker_d3dde478befe4436a214be134f9a4bba.bindPopup(popup_11b79ae563da4b7d9c76c2ba34bd90ae)
        ;

        
    
    
            marker_d3dde478befe4436a214be134f9a4bba.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d4af35e0b05843fcaefd4b8290ffc572 = L.marker(
                [-6.537669, 111.049392],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_ea5e7f92587a4577aa874e3b04d9c18e = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_d4af35e0b05843fcaefd4b8290ffc572.setIcon(icon_ea5e7f92587a4577aa874e3b04d9c18e);
        
    
        var popup_aea877ad32a64b089e899a7752fc5934 = L.popup({"maxWidth": "100%"});

        
            var html_d789a98dcfc545cea02fc8ba98d63ed3 = $(`<div id="html_d789a98dcfc545cea02fc8ba98d63ed3" style="width: 100.0%; height: 100.0%;">KaumanB</div>`)[0];
            popup_aea877ad32a64b089e899a7752fc5934.setContent(html_d789a98dcfc545cea02fc8ba98d63ed3);
        

        marker_d4af35e0b05843fcaefd4b8290ffc572.bindPopup(popup_aea877ad32a64b089e899a7752fc5934)
        ;

        
    
    
            marker_d4af35e0b05843fcaefd4b8290ffc572.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ca961b6261ef4f9ea1e701e8cab45e73 = L.marker(
                [-6.537612, 111.053096],
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var icon_d962080e77bb4694a2f6040392998c74 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "green", "prefix": "glyphicon"}
            );
            marker_ca961b6261ef4f9ea1e701e8cab45e73.setIcon(icon_d962080e77bb4694a2f6040392998c74);
        
    
        var popup_055cc431413246eea49385c550e39fa3 = L.popup({"maxWidth": "100%"});

        
            var html_c40f19864b174bcfa6b0889e23a8150e = $(`<div id="html_c40f19864b174bcfa6b0889e23a8150e" style="width: 100.0%; height: 100.0%;">Pasar</div>`)[0];
            popup_055cc431413246eea49385c550e39fa3.setContent(html_c40f19864b174bcfa6b0889e23a8150e);
        

        marker_ca961b6261ef4f9ea1e701e8cab45e73.bindPopup(popup_055cc431413246eea49385c550e39fa3)
        ;

        
    
    
            marker_ca961b6261ef4f9ea1e701e8cab45e73.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_3e5f06a8fe3d4563a207ca74bb623115 = L.featureGroup(
                {}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
    
            var poly_line_a7c8eee7c4e143a1b431382b71e72c81 = L.polyline(
                [[-6.533924, 111.045262], [-6.536154, 111.045271]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_c8053d417de8483ba847ce1058920e85 = L.polyline(
                [[-6.533924, 111.045262], [-6.535399, 111.050111]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_56e3916b2dbd40b3bbba0d7d3a0b1a4c = L.polyline(
                [[-6.536154, 111.045271], [-6.53763, 111.045285]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_e23727dee8074f4e887b24a1e77d4338 = L.polyline(
                [[-6.536154, 111.045271], [-6.537079, 111.047753]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_afaeef98159b4cb79005500fe41a1e48 = L.polyline(
                [[-6.53763, 111.045285], [-6.538963, 111.047378]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_0ac277f0949c4fc5925b7f6b9d560999 = L.polyline(
                [[-6.537079, 111.047753], [-6.537669, 111.049392]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_291ddc151889419d8a4b767602a131c4 = L.polyline(
                [[-6.537079, 111.047753], [-6.538963, 111.047378]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_476fac299c3f42c0b8c1b1c838a78790 = L.polyline(
                [[-6.537669, 111.049392], [-6.537612, 111.053096]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_8a903403e7ad448d96e5c0762ac42cca = L.polyline(
                [[-6.537669, 111.049392], [-6.535399, 111.050111]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_5d12c712f1e84fb1a8732570246dd46e = L.polyline(
                [[-6.538963, 111.047378], [-6.540861, 111.052519]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_6182f7ec821e4fe7b7b9f3ae58be4fdd = L.polyline(
                [[-6.540861, 111.052519], [-6.537612, 111.053096]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_e5e15aeff28d4df5b8e7c2cfb7ffbb06 = L.polyline(
                [[-6.537612, 111.053096], [-6.536056, 111.052698]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_446c92cbdab54cb992106b725b2de702 = L.polyline(
                [[-6.536056, 111.052698], [-6.535399, 111.050111]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
            var poly_line_4d0b12b38ea845648d955126de501caf = L.polyline(
                [[-6.53763, 111.045285], [-6.536154, 111.045271]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
        var popup_034c667e6df74e06b5a5e79549486559 = L.popup({"maxWidth": "100%"});

        
            var html_a40824d060c74c4cb6108b66990c86ed = $(`<div id="html_a40824d060c74c4cb6108b66990c86ed" style="width: 100.0%; height: 100.0%;">Jaraknya 1059.9849891718118 meter</div>`)[0];
            popup_034c667e6df74e06b5a5e79549486559.setContent(html_a40824d060c74c4cb6108b66990c86ed);
        

        poly_line_4d0b12b38ea845648d955126de501caf.bindPopup(popup_034c667e6df74e06b5a5e79549486559)
        ;

        
    
    
            poly_line_4d0b12b38ea845648d955126de501caf.bindTooltip(
                `<div>
                     Jaraknya 1059.9849891718118 meter
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_eb6fcd7797224b928c76ca174d231550 = L.polyline(
                [[-6.536154, 111.045271], [-6.537079, 111.047753]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
        var popup_da1886fea39e40c8842c3944c142cff8 = L.popup({"maxWidth": "100%"});

        
            var html_29e78159c64843e0b6b6a1b938af82a3 = $(`<div id="html_29e78159c64843e0b6b6a1b938af82a3" style="width: 100.0%; height: 100.0%;">Jaraknya 1059.9849891718118 meter</div>`)[0];
            popup_da1886fea39e40c8842c3944c142cff8.setContent(html_29e78159c64843e0b6b6a1b938af82a3);
        

        poly_line_eb6fcd7797224b928c76ca174d231550.bindPopup(popup_da1886fea39e40c8842c3944c142cff8)
        ;

        
    
    
            poly_line_eb6fcd7797224b928c76ca174d231550.bindTooltip(
                `<div>
                     Jaraknya 1059.9849891718118 meter
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_e9c03d159adf4979bf8d2723ea226581 = L.polyline(
                [[-6.537079, 111.047753], [-6.537669, 111.049392]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
        var popup_ef59b399c57e4454b15d54d83709a300 = L.popup({"maxWidth": "100%"});

        
            var html_195d61f093ee41a2b489ad57aae5419e = $(`<div id="html_195d61f093ee41a2b489ad57aae5419e" style="width: 100.0%; height: 100.0%;">Jaraknya 1059.9849891718118 meter</div>`)[0];
            popup_ef59b399c57e4454b15d54d83709a300.setContent(html_195d61f093ee41a2b489ad57aae5419e);
        

        poly_line_e9c03d159adf4979bf8d2723ea226581.bindPopup(popup_ef59b399c57e4454b15d54d83709a300)
        ;

        
    
    
            poly_line_e9c03d159adf4979bf8d2723ea226581.bindTooltip(
                `<div>
                     Jaraknya 1059.9849891718118 meter
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_16786b3ef4a642bb842931ddd792d3c7 = L.polyline(
                [[-6.537669, 111.049392], [-6.537612, 111.053096]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_3e5f06a8fe3d4563a207ca74bb623115);
        
    
        var popup_5bf1c1c118844061893b4b7377ae41db = L.popup({"maxWidth": "100%"});

        
            var html_846d8455cd4849b99fb8c02a9faf979a = $(`<div id="html_846d8455cd4849b99fb8c02a9faf979a" style="width: 100.0%; height: 100.0%;">Jaraknya 1059.9849891718118 meter</div>`)[0];
            popup_5bf1c1c118844061893b4b7377ae41db.setContent(html_846d8455cd4849b99fb8c02a9faf979a);
        

        poly_line_16786b3ef4a642bb842931ddd792d3c7.bindPopup(popup_5bf1c1c118844061893b4b7377ae41db)
        ;

        
    
    
            poly_line_16786b3ef4a642bb842931ddd792d3c7.bindTooltip(
                `<div>
                     Jaraknya 1059.9849891718118 meter
                 </div>`,
                {"sticky": true}
            );
        
    
            var layer_control_1f5f3f626e8844be82e6a1d9675609b8 = {
                base_layers : {
                    "cartodbpositron" : tile_layer_692c667ff58f4d438ce5f412dffe388a,
                },
                overlays :  {
                    "Jalan Asli" : feature_group_3e5f06a8fe3d4563a207ca74bb623115,
                },
            };
            L.control.layers(
                layer_control_1f5f3f626e8844be82e6a1d9675609b8.base_layers,
                layer_control_1f5f3f626e8844be82e6a1d9675609b8.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_e8ce0c30c9bc4cd9b7f1b32de1f31eac);
        
</script>