<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_7e7858dfd14a48158897eb00d0d97921 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_7e7858dfd14a48158897eb00d0d97921" ></div>
        
</body>
<script>    
    
            var map_7e7858dfd14a48158897eb00d0d97921 = L.map(
                "map_7e7858dfd14a48158897eb00d0d97921",
                {
                    center: [-6.920817, 107.6041],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9bb2e1fc180a43f2b60b02c4636e0f23 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var marker_957b2b63629b4de69f827a803e879f39 = L.marker(
                [-6.920817, 107.6041],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_cd6ece1c12324ec4975b543976a2c587 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_957b2b63629b4de69f827a803e879f39.setIcon(icon_cd6ece1c12324ec4975b543976a2c587);
        
    
        var popup_1fcbdb4029d84b859405c5fb12a0aa3f = L.popup({"maxWidth": "100%"});

        
            var html_2073343c1276404b81f7565d62be5bbb = $(`<div id="html_2073343c1276404b81f7565d62be5bbb" style="width: 100.0%; height: 100.0%;">JendSudirmanNavaro</div>`)[0];
            popup_1fcbdb4029d84b859405c5fb12a0aa3f.setContent(html_2073343c1276404b81f7565d62be5bbb);
        

        marker_957b2b63629b4de69f827a803e879f39.bindPopup(popup_1fcbdb4029d84b859405c5fb12a0aa3f)
        ;

        
    
    
            marker_957b2b63629b4de69f827a803e879f39.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e8e8d0543e024c738e39cb1e565d8956 = L.marker(
                [-6.920893, 107.605089],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_ca7e43e7582949b8883c3c93dbfbbbaa = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_e8e8d0543e024c738e39cb1e565d8956.setIcon(icon_ca7e43e7582949b8883c3c93dbfbbbaa);
        
    
        var popup_13cbe3f5f2974511b2f6c894f2a46fe6 = L.popup({"maxWidth": "100%"});

        
            var html_97fcf900fac146d482fd157637db5ac8 = $(`<div id="html_97fcf900fac146d482fd157637db5ac8" style="width: 100.0%; height: 100.0%;">KontikiLintasMedia</div>`)[0];
            popup_13cbe3f5f2974511b2f6c894f2a46fe6.setContent(html_97fcf900fac146d482fd157637db5ac8);
        

        marker_e8e8d0543e024c738e39cb1e565d8956.bindPopup(popup_13cbe3f5f2974511b2f6c894f2a46fe6)
        ;

        
    
    
            marker_e8e8d0543e024c738e39cb1e565d8956.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_94100114917645e3a987925efbc3b98d = L.marker(
                [-6.921052, 107.606472],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_a00a7eebf7eb425b85970efa40092412 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_94100114917645e3a987925efbc3b98d.setIcon(icon_a00a7eebf7eb425b85970efa40092412);
        
    
        var popup_6417b6f7ab684375aef49782cdd47c12 = L.popup({"maxWidth": "100%"});

        
            var html_2eea737493264b2e92072f29e50d7a90 = $(`<div id="html_2eea737493264b2e92072f29e50d7a90" style="width: 100.0%; height: 100.0%;">TokoKomputerNewPelangi</div>`)[0];
            popup_6417b6f7ab684375aef49782cdd47c12.setContent(html_2eea737493264b2e92072f29e50d7a90);
        

        marker_94100114917645e3a987925efbc3b98d.bindPopup(popup_6417b6f7ab684375aef49782cdd47c12)
        ;

        
    
    
            marker_94100114917645e3a987925efbc3b98d.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_946ea971c1114fb184596452f78a5b0c = L.marker(
                [-6.921228, 107.60769],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_8e17fd0176e5452a8779a8d1f8bce4d8 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_946ea971c1114fb184596452f78a5b0c.setIcon(icon_8e17fd0176e5452a8779a8d1f8bce4d8);
        
    
        var popup_696ea0a911b04a42b5f4fcc5150ea9cf = L.popup({"maxWidth": "100%"});

        
            var html_13b0ebbd928b42258c536779ba794eb6 = $(`<div id="html_13b0ebbd928b42258c536779ba794eb6" style="width: 100.0%; height: 100.0%;">MasjidAgung</div>`)[0];
            popup_696ea0a911b04a42b5f4fcc5150ea9cf.setContent(html_13b0ebbd928b42258c536779ba794eb6);
        

        marker_946ea971c1114fb184596452f78a5b0c.bindPopup(popup_696ea0a911b04a42b5f4fcc5150ea9cf)
        ;

        
    
    
            marker_946ea971c1114fb184596452f78a5b0c.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_453bf2fec9a94ed78711adc321ab8542 = L.marker(
                [-6.922083, 107.604024],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_8a270ff2b6124d73b3b579576ca52e8c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_453bf2fec9a94ed78711adc321ab8542.setIcon(icon_8a270ff2b6124d73b3b579576ca52e8c);
        
    
        var popup_2b893d9a2cc845cf92aa1b53e765229c = L.popup({"maxWidth": "100%"});

        
            var html_b60702331caa4a16a35226e784e63aef = $(`<div id="html_b60702331caa4a16a35226e784e63aef" style="width: 100.0%; height: 100.0%;">GarudaKencanaToko</div>`)[0];
            popup_2b893d9a2cc845cf92aa1b53e765229c.setContent(html_b60702331caa4a16a35226e784e63aef);
        

        marker_453bf2fec9a94ed78711adc321ab8542.bindPopup(popup_2b893d9a2cc845cf92aa1b53e765229c)
        ;

        
    
    
            marker_453bf2fec9a94ed78711adc321ab8542.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_cdd2cf0fcc1c456cb8c99f5af7f4cf38 = L.marker(
                [-6.922383, 107.606429],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_6b647d097d4f4ca98bbe45f6cf4f3133 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_cdd2cf0fcc1c456cb8c99f5af7f4cf38.setIcon(icon_6b647d097d4f4ca98bbe45f6cf4f3133);
        
    
        var popup_36d82f4ee77d4af6844621248be3f117 = L.popup({"maxWidth": "100%"});

        
            var html_7621cf83c8164933bbd219b6ceae4bda = $(`<div id="html_7621cf83c8164933bbd219b6ceae4bda" style="width: 100.0%; height: 100.0%;">DalemKaum</div>`)[0];
            popup_36d82f4ee77d4af6844621248be3f117.setContent(html_7621cf83c8164933bbd219b6ceae4bda);
        

        marker_cdd2cf0fcc1c456cb8c99f5af7f4cf38.bindPopup(popup_36d82f4ee77d4af6844621248be3f117)
        ;

        
    
    
            marker_cdd2cf0fcc1c456cb8c99f5af7f4cf38.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_2bc1a3ab2bc04586903161d290f0b3c4 = L.marker(
                [-6.922521, 107.607099],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_4ffcf5868eb3448fbff5a0f0256dfc35 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_2bc1a3ab2bc04586903161d290f0b3c4.setIcon(icon_4ffcf5868eb3448fbff5a0f0256dfc35);
        
    
        var popup_57fb3435cf444d6cb0e8196fd0b85413 = L.popup({"maxWidth": "100%"});

        
            var html_83e18f0f31694998b7ee3bfb70d11ee2 = $(`<div id="html_83e18f0f31694998b7ee3bfb70d11ee2" style="width: 100.0%; height: 100.0%;">PendopoBandung</div>`)[0];
            popup_57fb3435cf444d6cb0e8196fd0b85413.setContent(html_83e18f0f31694998b7ee3bfb70d11ee2);
        

        marker_2bc1a3ab2bc04586903161d290f0b3c4.bindPopup(popup_57fb3435cf444d6cb0e8196fd0b85413)
        ;

        
    
    
            marker_2bc1a3ab2bc04586903161d290f0b3c4.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_84cd1bd71d674abd9ad966cfe828d744 = L.marker(
                [-6.922551, 107.60752],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_4d94a1117dce4878bf96c6aa65845cc3 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_84cd1bd71d674abd9ad966cfe828d744.setIcon(icon_4d94a1117dce4878bf96c6aa65845cc3);
        
    
        var popup_c614357c1e31410c9938b9493c37b065 = L.popup({"maxWidth": "100%"});

        
            var html_ac47d783f37b41459c5d8f4d9271b338 = $(`<div id="html_ac47d783f37b41459c5d8f4d9271b338" style="width: 100.0%; height: 100.0%;">DalemKaum63</div>`)[0];
            popup_c614357c1e31410c9938b9493c37b065.setContent(html_ac47d783f37b41459c5d8f4d9271b338);
        

        marker_84cd1bd71d674abd9ad966cfe828d744.bindPopup(popup_c614357c1e31410c9938b9493c37b065)
        ;

        
    
    
            marker_84cd1bd71d674abd9ad966cfe828d744.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4d301aba138c4f5c9c7c2dc546d8dd14 = L.marker(
                [-6.923107, 107.603929],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_db41609b56aa44ad9beaacb75f311384 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4d301aba138c4f5c9c7c2dc546d8dd14.setIcon(icon_db41609b56aa44ad9beaacb75f311384);
        
    
        var popup_fa1112c7ae9e4d5b83f754c1450e059f = L.popup({"maxWidth": "100%"});

        
            var html_cb2414a14d9e42adb36f13563f5474cf = $(`<div id="html_cb2414a14d9e42adb36f13563f5474cf" style="width: 100.0%; height: 100.0%;">OtistaKepatihan</div>`)[0];
            popup_fa1112c7ae9e4d5b83f754c1450e059f.setContent(html_cb2414a14d9e42adb36f13563f5474cf);
        

        marker_4d301aba138c4f5c9c7c2dc546d8dd14.bindPopup(popup_fa1112c7ae9e4d5b83f754c1450e059f)
        ;

        
    
    
            marker_4d301aba138c4f5c9c7c2dc546d8dd14.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_728c67cb2aa2457a81bfbdcfca3acac3 = L.marker(
                [-6.923423, 107.606288],
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var icon_d2b7d81f93ec4e7e86aeb229a3b7c439 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "none", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_728c67cb2aa2457a81bfbdcfca3acac3.setIcon(icon_d2b7d81f93ec4e7e86aeb229a3b7c439);
        
    
        var popup_8ae2b7af18704a4ebb27c4cceed15758 = L.popup({"maxWidth": "100%"});

        
            var html_99e85624a7944989b94f10f97f035c1f = $(`<div id="html_99e85624a7944989b94f10f97f035c1f" style="width: 100.0%; height: 100.0%;">Balonggede</div>`)[0];
            popup_8ae2b7af18704a4ebb27c4cceed15758.setContent(html_99e85624a7944989b94f10f97f035c1f);
        

        marker_728c67cb2aa2457a81bfbdcfca3acac3.bindPopup(popup_8ae2b7af18704a4ebb27c4cceed15758)
        ;

        
    
    
            marker_728c67cb2aa2457a81bfbdcfca3acac3.bindTooltip(
                `<div>
                     <strong>Click here to see Popup</strong>
                 </div>`,
                {"sticky": true}
            );
        
    
            var feature_group_5900654a1ae540e6a3437490bc64b283 = L.featureGroup(
                {}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
    
            var poly_line_a8e544d8a0f340e9a70ade156c6d27b0 = L.polyline(
                [[-6.920817, 107.6041], [-6.920893, 107.605089]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_97197ecb09e64925b9c48c4bbdb67de5 = L.polyline(
                [[-6.920817, 107.6041], [-6.922083, 107.604024]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_d17c34b3cffb48c5bef9b3d4eab1755a = L.polyline(
                [[-6.920893, 107.605089], [-6.921052, 107.606472]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_f41be22b6e5a4416bb2a4ac021dbb6d6 = L.polyline(
                [[-6.921052, 107.606472], [-6.921228, 107.60769]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_c981beece6bf4f1a9739e03d1a4b7992 = L.polyline(
                [[-6.921228, 107.60769], [-6.922551, 107.60752]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_14953aefaa2645eb9f3a1af9e659469f = L.polyline(
                [[-6.922083, 107.604024], [-6.922383, 107.606429]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_a11c5a00588546b195dd36369018cb8f = L.polyline(
                [[-6.922083, 107.604024], [-6.923107, 107.603929]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_607d853a6809404cabcb64adbef3a795 = L.polyline(
                [[-6.922383, 107.606429], [-6.922521, 107.607099]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_f825dcca55f9429595b40b639c085219 = L.polyline(
                [[-6.922383, 107.606429], [-6.923423, 107.606288]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_70ec95ad90644a5fa52eb39756b2e133 = L.polyline(
                [[-6.922521, 107.607099], [-6.922551, 107.60752]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var poly_line_a4177054185a492dacaf480cc99901ae = L.polyline(
                [[-6.923107, 107.603929], [-6.923423, 107.606288]],
                {"bubblingMouseEvents": true, "color": "red", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "red", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_5900654a1ae540e6a3437490bc64b283);
        
    
            var layer_control_9531a7b0ac34418eadf5d51242de9cbe = {
                base_layers : {
                    "cartodbpositron" : tile_layer_9bb2e1fc180a43f2b60b02c4636e0f23,
                },
                overlays :  {
                    "Jalan Asli" : feature_group_5900654a1ae540e6a3437490bc64b283,
                },
            };
            L.control.layers(
                layer_control_9531a7b0ac34418eadf5d51242de9cbe.base_layers,
                layer_control_9531a7b0ac34418eadf5d51242de9cbe.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_7e7858dfd14a48158897eb00d0d97921);
        
</script>