    .container2 {
        margin-left: 30px;
    }
    
    h4 {
        color: #cacaca;
    }
    
    #About {
        background-color: #e2edff;
        margin-top: -20px;
    }
    
    .footer {
        padding-bottom: 10px;
    }
    
    section {
        padding-top: 5rem;
    }
    
    .container2 {
        margin-left: 30px;
    }