<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_f65c184cfeb54d06b3519510dea69204 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_f65c184cfeb54d06b3519510dea69204" ></div>
        
</body>
<script>    
    
            var map_f65c184cfeb54d06b3519510dea69204 = L.map(
                "map_f65c184cfeb54d06b3519510dea69204",
                {
                    center: [-6.887221, 107.611479],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_2b580b5204c34712846e0a2498188144 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_f65c184cfeb54d06b3519510dea69204);
        
    
            var feature_group_963522bf86304881842d60ad7c25b539 = L.featureGroup(
                {}
            ).addTo(map_f65c184cfeb54d06b3519510dea69204);
        
    
            var poly_line_84b3726f33b649ecaa39f5f21660723e = L.polyline(
                [[-6.887221, 107.611479], [-6.884972, 107.611512]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_963522bf86304881842d60ad7c25b539);
        
    
        var popup_230c7f9d55474b70a6be1fc9456302db = L.popup({"maxWidth": "100%"});

        
            var html_897ea76e62c94c14b6e503258c385401 = $(`<div id="html_897ea76e62c94c14b6e503258c385401" style="width: 100.0%; height: 100.0%;"><b>Path of Place 1</b></div>`)[0];
            popup_230c7f9d55474b70a6be1fc9456302db.setContent(html_897ea76e62c94c14b6e503258c385401);
        

        poly_line_84b3726f33b649ecaa39f5f21660723e.bindPopup(popup_230c7f9d55474b70a6be1fc9456302db)
        ;

        
    
    
            poly_line_84b3726f33b649ecaa39f5f21660723e.bindTooltip(
                `<div>
                     Place 1
                 </div>`,
                {"sticky": true}
            );
        
    
            var layer_control_8d78a92323394401b14ad49427dfe569 = {
                base_layers : {
                    "cartodbpositron" : tile_layer_2b580b5204c34712846e0a2498188144,
                },
                overlays :  {
                    "Place 1" : feature_group_963522bf86304881842d60ad7c25b539,
                },
            };
            L.control.layers(
                layer_control_8d78a92323394401b14ad49427dfe569.base_layers,
                layer_control_8d78a92323394401b14ad49427dfe569.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_f65c184cfeb54d06b3519510dea69204);
        
</script>