<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_61f37b74db2e45f8a10f8df80707d076 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_61f37b74db2e45f8a10f8df80707d076" ></div>
        
</body>
<script>    
    
            var map_61f37b74db2e45f8a10f8df80707d076 = L.map(
                "map_61f37b74db2e45f8a10f8df80707d076",
                {
                    center: [-6.887221, 107.611479],
                    crs: L.CRS.EPSG3857,
                    zoom: 17,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f409764758fe426eb0353a78c0c847f1 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_61f37b74db2e45f8a10f8df80707d076);
        
    
            var feature_group_ede477b96f3a41fbb850fa1765ada350 = L.featureGroup(
                {}
            ).addTo(map_61f37b74db2e45f8a10f8df80707d076);
        
    
            var poly_line_f8e4c5e5944641db9b76db94914ef9b3 = L.polyline(
                [[-6.887221, 107.611479], [-6.884972, 107.611512]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1.0, "smoothFactor": 1.0, "stroke": true, "weight": 10}
            ).addTo(feature_group_ede477b96f3a41fbb850fa1765ada350);
        
    
        var popup_870ba0cf1bbd46a69a3ead8b17cbea1d = L.popup({"maxWidth": "100%"});

        
            var html_0871b40b68b346e9aab0962cd63147d7 = $(`<div id="html_0871b40b68b346e9aab0962cd63147d7" style="width: 100.0%; height: 100.0%;"><b>Path of Place 1</b></div>`)[0];
            popup_870ba0cf1bbd46a69a3ead8b17cbea1d.setContent(html_0871b40b68b346e9aab0962cd63147d7);
        

        poly_line_f8e4c5e5944641db9b76db94914ef9b3.bindPopup(popup_870ba0cf1bbd46a69a3ead8b17cbea1d)
        ;

        
    
    
            poly_line_f8e4c5e5944641db9b76db94914ef9b3.bindTooltip(
                `<div>
                     Place 1
                 </div>`,
                {"sticky": true}
            );
        
    
            var layer_control_4f804bb0ff7a4240800da04b353704bb = {
                base_layers : {
                    "cartodbpositron" : tile_layer_f409764758fe426eb0353a78c0c847f1,
                },
                overlays :  {
                    "Place 1" : feature_group_ede477b96f3a41fbb850fa1765ada350,
                },
            };
            L.control.layers(
                layer_control_4f804bb0ff7a4240800da04b353704bb.base_layers,
                layer_control_4f804bb0ff7a4240800da04b353704bb.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_61f37b74db2e45f8a10f8df80707d076);
        
</script>